<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>home</title>
</head>
<body>
	<section>

		<div class="p-3">
			<div class="row">
				<!--Start Left Section -->
				<div class="col-md-2">
					<!-- Left Section -->
					<h3 mb-3>Left Content</h3>
					<div class="card p-3">
						<div class="card-body">
							<!-- List with dividers and links -->
							<ul class="list-group">
								<li class="list-group-item">Option 1</li>
								<li class="list-group-item">Option 2</li>
								<li class="list-group-item">Option 3</li>
								<li class="list-group-item">Option 4</li>
								<li class="list-group-item">Option 5</li>
							</ul>
						</div>
					</div>
				</div>

				<!--End Left Section -->
				<!--Start Center Section -->
				<div class="col-md-8">
					<!-- Add 10 cards in the center -->
					<h3>Center Content</h3>
					<div class="card mb-2">
						<div class="card-body">
							<h5 class="card-title">Special title treatment</h5>
							<p class="card-text">With supporting text below as a natural
								lead-in to additional content.</p>
							<a href="#" class="btn btn-primary">Go somewhere</a>
						</div>
					</div>
					<!-- Repeat for cards 2-10 -->
				</div>
				<!-- End Center Section -->

				<!-- Right Section -->
				<div class="col-md-2">
					<!--Start Right Section -->
					<h3>Right Content</h3>
					<div class="card">
						<div class="card-body">
							<!-- List with dividers and links -->
							<ul class="list-group">
								<li class="list-group-item">Item A</li>
								<li class="list-group-item">Item B</li>
								<li class="list-group-item">Item C</li>
								<li class="list-group-item">Item D</li>
								<li class="list-group-item">Item E</li>
							</ul>
						</div>
					</div>
				</div>
				<!--End Right Section -->


			</div>
		</div>


	</section>
</body>
</html>